'context-menu':
  '.tab':
    'Close Tab': 'tabs:close-tab'
    'Close Other Tabs': 'tabs:close-other-tabs'
    'Close Tabs to the Right': 'tabs:close-tabs-to-right'
    'Close Saved Tabs': 'tabs:close-saved-tabs'
    'Close All Tabs': 'tabs:close-all-tabs'
